/*  DIV */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* IMMAGINE */
.image-hero {
  border-radius: 8px;
  margin-bottom: 100px;
  max-width: 100%;
  height: auto;
}



@media screen and (min-width: 780px) and (max-width: 1429px) {
 .div-main {
    margin-left: 20%;
 }

 .main-text {
    font-size: 1.10rem;
 }
}

@media screen and (max-width: 780px) {
 .div-main {
    margin-left: 10px;
    width: 650px;
 }

 .main-text {
    font-size: 1rem;
 }
}
